{% extends 'base.html.twig' %}

{% block title %}Hello AscensoresController!{% endblock %}

{% block body %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Peticiones</th>
      <th scope="col">Ascensor 1</th>
      <th scope="col">Ascensor 2</th>
      <th scope="col">Ascensor 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">09:00</th>
      <td><b>Posicion actual:</b> 0 <br> <b>Recorridas:</b> 0</td>
      <td><b>Posicion actual:</b> 0 <br> <b>Recorridas:</b> 0</td>
      <td><b>Posicion actual:</b> 0 <br> <b>Recorridas:</b> 0</td>
    </tr>
    <tr>
      <th scope="row">09:05</th>
      <td><b>Posicion actual:</b> 2 <br> <b>Recorridas:</b> 2</td>
      <td><b>Posicion actual:</b> 1 <br> <b>Recorridas:</b> 1</td>
      <td><b>Posicion actual:</b> 0 <br> <b>Recorridas:</b> 0</td>
    </tr>
  </tbody>
</table>

{% endblock %}
