{% extends 'base.html.twig' %}

{% block title %}Hello AscensoresController!{% endblock %}

{% block body %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Peticiones</th>
      <th scope="col">Ascensor 1</th>
      <th scope="col">Ascensor 2</th>
      <th scope="col">Ascensor 3</th>
    </tr>
  </thead>
  <tbody>
    {% for peticion in peticiones %}
      <tr>
        <th scope="row">{{peticion.inicio}}-{{peticion.final}}</th>
        {% for ascensor in ascensores %}
          <td><b>Posicion actual:</b> {{ascensor.getId()}} <br> <b>Recorridas:</b> {{ascensor.getDistanciaTotal()|number_format}}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
